.tarjeta {
    width: 100%;
    height: 40vh;
    background-color: $Verydarkviolet;
    position: relative;
    color: $Lightgrayishviolet;
    z-index: -2;
    margin-bottom: 100px;

    &__caja {
        position: absolute;
        width: 270px;
        height: 160px;
        border: none;
        border-radius: 8px;
    }

    &__datos {
        top: 122px;
        left: 10px;
        background-image: linear-gradient(to right top, #6448fe, #6939e2, #6929c7, #6619ad, #600594);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.8rem;
    }

    &__datos::after{
        content: "";
        width: 30px;
        height: 30px;
        background-color: $White;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &__datos::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 1px solid $White;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        left: 60px;
    }

    &__datos--bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        font-size: 1.4rem;
    }

    &__cvv {
        top: 30px;
        right: 10px;
        background-color: $Lightgrayishviolet;
        z-index: -1;
    }

    &__cvv--numero {
        display: inline-block;
        background-color: $Darkgrayishviolet;
        width: 100%;
        height: 30px;
        position: relative;
        top: 40%;
        font-size: 1.2rem;
        text-align: end;
        padding: 6px 20px;
        letter-spacing: 2px;
    }

    &__cvv--numero::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #333;
        top: -48px;
        right: 0;
    }
}

.inactive {
    display: none;
}